* {
  box-sizing: border-box;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, sans-serif;
   margin: 0px;
   padding: 0px;
}

@mixin button-small {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  line-height: 14px;
  background: rgb(249, 18, 94);
  border-radius: 100px;
  transition: all 0.5s ease 0s; 
}

@mixin button-large {
  display: inline-block;
  margin-top: 30px;
  padding: 0.8em;
  line-height: 1.6;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: rgb(255, 255, 255);
  background-color: rgb(249, 18, 94);
  border-radius: 100px;
  box-shadow: rgba(246, 28, 96, 0.5) 0px 0px 0px 5px;
  animation: 3s ease 0s infinite normal none running mvcta;
  transition: all 0.5s ease 0s;
}

// Home //
.top-section {
  width: 100%;
  height: 900px;
  position: relative;
  margin: 0px auto;
  background-image:  url(/assets/img/top_human.png), url(/assets/img/top_background.png);
  background-position: right -40px top -40px, right -410px top 0px;
  background-repeat: no-repeat, no-repeat;
  background-size: 900px, 1330px;
  &__text {
    position: absolute;
    top: 90px;
    left: 315px;
    color: rgb(51, 51, 51);
    padding-top: 80px;
    h1 img {
      width: 390px;
      height: 180px;
    }
    p {
      width: 390px;
      margin-top: 20px;
      font-size: 20px;
      font-weight: lighter;
    }
    a {
      @include button-large;
    }
    a:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.5s ease 0s;}
  }
}

.middle-section--high {
  width: 1200px;
  margin: 0px auto;
  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 14px;
    color: rgb(51, 51, 51);
  }
  ul {
    list-style: none;
    li {
      margin-left: 100px;
      margin-top: 100px;
      .list-container {
        display: flex;
        img {
          width: 375px;
          height: 375px;
        }
        &__text {
          width: 425px;
          margin-left: 50px;
          h3 {
            font-size: 35px;
            font-weight: bold;
            span {
              background: linear-gradient(transparent 50%, rgb(255, 235, 85) 75%);
            }
          }
          p {
            margin-top: 20px;
            font-size: 16px;
            line-height: 35px;
            letter-spacing: 3px;
          }
        }
      }
    }
  }
}

.middle-section--low {
  padding: 130px 0px;
  text-align: center;
  color: white;
  position: relative;
  height: 580px;
  width: 100%;
  .image-background {
    width: 100%;
    height: 580px;
  }
  .position-set {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    h3 {
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 19px;
      line-height: 90px;
    }
    p {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 3px;
      margin-top: 20px;
      line-height: 30px;
    }
  }
}

.bottom-section {
  margin: 130px auto;
  text-align: center;
  h3 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 11px;
    color: rgb(51, 51, 51);
  }
  a {
    @include button-large;
  }
  a:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease 0s;
  }
}

// header //
.header {
  transition: box-shadow 1s ease 0s;
  width: 100%;
  height: 64px;
  background: rgb(57, 57, 57);
  position: fixed;
  margin: 0px auto;
  z-index: 100;
  &-contents {
    display: flex;
    justify-content: space-between;
    margin: 0px 330px 0px;
    nav {
      ul {
        display: flex;
        list-style: none;
        li {
          line-height: 55px;
          a {
            padding: 12px 16px;
            text-decoration: none;
            color: rgb(201, 201, 201);
            border-radius: 40px;
          }
          a:hover {
            color: rgb(0, 177, 152);
            background-color: rgb(246, 246, 246);
          }
        }
        #fadein-list {
          transform: translatex(500px);
          transition: all 0.5s ease;
          a {
            @include button-small;
          } 
        }
      }
    }
  }
}

// scroll animation //
#scroll.header.is_active {
  transition: box-shadow 1s ease 0s;
  #fadein-list {
    transform : translatex(0);
    transition: all 0.5s ease;
    a {
      @include button-small;
      cursor: pointer;
    }
  }
}